/* Navbar */
.navbar-portafolio {
  justify-content: space-between;
  background: whitesmoke;
  padding-left: 285px;
  padding-right: 285px;
}

.navbar-portafolio .navbar-links {
  flex-grow: 0;
}

/* Body */
body {
  background-color: white;
}

.sections {
  padding-left: 150px;
  padding-right: 150px;
}

/* Bio */
.section-header img {
  height: 200px;
  width: 200px;
  /* border-radius: 50%; */
  object-fit: cover;
  object-position: center;
}

.section-bio {
  margin-top: 25px;
  margin-bottom: 25;
  padding-right: 200px;
  padding-left: 200px;
  text-align: justify;
}

.bio-header{
  text-align: center;
  font-size: large;
  font-weight: bold;
}

/* Section header */
.section-top {
  text-align: center;
  font-size: xx-large;
  font-weight: bold;
  margin-top: 50px;
}

/* Projects >> Cards */
.projects-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
  margin-bottom: 15px;
}

.card-project {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 200px;
  width: 100%;
  object-fit: cover;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.card-project img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  object-position: center 8%;
}

/* Projects >> Buttons */
.button-group {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 25px;
}

.pill-btn {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;

  padding: 0.75rem 1.25rem;
  border-radius: 999px;

  border: 1.5px solid #222;
  background: #fff;
  color: #222;
  text-decoration: none;
  font-weight: 500;

  box-shadow: 0 4px 0 #222;
  transition: all 0.15s ease;
}

.pill-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 0 #222;
}

.pill-btn:active {
  transform: translateY(2px);
  box-shadow: 0 2px 0 #222;
}

.pill-btn--active {
  background: #fff;
}

.pill-btn i {
  font-size: 1rem;
}

/* Project >> About Subsection */
.about-header {
  text-align: left;
  font-size: large;
  font-weight: bold;
  margin-bottom: 2px;
}

.about-desc {
  text-align: left;
}

.section-skills {
  margin-top: 100px;
  margin-bottom: 100px;
}

/* Skills section */
.skill-name {
  font-size: large;
  font-weight: bold;
}

.skills-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  margin-bottom: 15px;
}

.cards-skills-sub {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 220px;
  width: 100%;
  object-fit: cover;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

/* Skills >> Buttons */
.button-group-s {
  gap: 1rem;
  padding: 2px;
}

.pill-btn-s {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;

  padding: 0.50rem 1rem;
  border-radius: 999px;

  border: 2px solid #222;
  background: #fff;
  color: #222;
  text-decoration: none;
  font-weight: 500;

  /* box-shadow: 0 4px 0 #222; */
  transition: all 0.15s ease;
}

.pill-btn-s:hover {
  transform: translateY(-2px);
  /* box-shadow: 0 6px 0 #222; */
}

.pill-btn-s:active {
  transform: translateY(2px);
  box-shadow: 0 2px 0 #222;
}

.pill-btn-s--active {
  background: #fff;
}

.pill-btn-s i {
  font-size: 1rem;
}

/* Certificate */
.card-skills .certificate {
  width: 100%;
}

/* Resume */
.card-skills .resume {
  margin-top: 25px;
}

/* Contact Section */
.contact {
  margin-top: 0px;
  margin-bottom: 150;
  padding-right: 200px;
  padding-left: 200px;

  text-align: center;
}

.contact-info {
  display: inline-grid;
  grid-template-columns: 32px auto;
  row-gap: 0.75rem;
  column-gap: 0.75rem;
  align-items: center;
}

.contact-info span {
  text-align: left;
}

.contact-row {
  display: contents;
  font-size: large;
}

.contact-info i {
  text-align: center;
  font-size: 1.1rem;
}

.message {
  margin-top: 25px;
 }
