body {
  background-color: white;
}

.navbar-portafolio {
  justify-content: space-between;
  background: whitesmoke;
  padding-left: 285px;
  padding-right: 285px;
}

.navbar-portafolio .navbar-links {
  flex-grow: 0;
}

.sections {
  /* background-color: red; */
}
