.navbar-portafolio {
  justify-content: space-between;
  background: whitesmoke;
  padding-left: 285px;
  padding-right: 285px;
}

.navbar-portafolio .navbar-links {
  flex-grow: 0;
}

body {
  background-color: white;
}

.sections {
  padding-left: 150px;
  padding-right: 150px;
  /* background-color: red; */
}

.section-header img {
  height: 250px;
  max-width: 100%;
}
